@model Employee

<tr id="@Model.id">
    <td>@Model.Name</td>
    <td>@Model.Age</td>
    <td>@Model.Department.Name</td>
    <td>@Model.Email</td>
    <td>@Model.Gender</td>
    <td>
        @Html.Partial("_PartialControl", Model.id)
    </td>
</tr>

