@model  EmployeeViewModel
@{
    ViewBag.Title = ViewBag.Action;
}

<h2>@ViewBag.Action Employee</h2>

<br />
<br />


@using (Html.BeginForm(ViewBag.action as string, "Employee", FormMethod.Post))
{
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(e => e.Employee.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Employee.Name)
    </div>

    <br />

    <div class="form-group">
        <label>Age</label>
        @Html.TextBoxFor(e => e.Employee.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Employee.Age)
    </div>

    <br />

    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(e => e.Employee.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Employee.Email)
    </div>

    <br />

    <div class="form-group">
        <label>Gender</label>
        @Html.EnumDropDownListFor(e => e.Employee.Gender, new { @class = "form-control" })
    </div>

    <br />

    <div class="form-group">
        <label>Department</label>
        @Html.DropDownListFor(e => e.Employee.FK_DepartmentId, new SelectList(Model.Departments, "id", "Name"), "select Department", new { @class = "form-control" })
    </div>

    <br />

    <input type="submit" value=@ViewBag.Action class="btn btn-primary" />
    <a href="/employees/index" class="btn btn-success">Back To List</a>
}
