@model EmployeeViewModel
@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<br />
<br />


@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add New Employee
    </button>
}


<br />
<br />


@if (Model.Employees == null || Model.Employees.Count == 0)
{
    <h4>No Employees Found</h4>

}
else
{


    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Department</th>
                <th>Email</th>
                <th>Gender</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (Employee emp in Model.Employees)
            {
                <tr id="@emp.id">
                    <td>@emp.Name</td>
                    <td>@emp.Age</td>
                    <td>@emp.Department.Name</td>
                    <td>@emp.Email</td>
                    <td>@emp.Gender</td>
                    <td>
                        @Html.Partial("_PartialControl", emp.id)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@Html.Partial("_PartialAddEmployee", Model)

@section scripts {

    @Scripts.Render("~/Scripts/siteScripts/Delete.js");
    <script>
        function addSuccess() {
            $('#exampleModal').modal('hide');
            document.getElementById("form0").reset();
        }
    </script>
}
